body{
    background-color: yellow;
}
#score{
    font-size: 25px;
    margin-left: 20px;
    float: left;
}
#timer{
    font-size: 25px;
    float: right;
    margin-right: 20px;
}
#sketch_to_be_drawn{
    color: royalblue;
}